@import './variables.scss';
.App {
  padding: 15rem;
  height: 100vh;
  width: 1440px;
  background-image: url('./bg-pattern-bottom-desktop.svg'),
    url('./bg-pattern-top-desktop.svg');
  background-repeat: no-repeat;
  background-position: bottom, left top;

  header {
    display: flex;
    margin-bottom: 10rem;

    .title {
      width: 50rem;
      text-align: left;
      padding: 0 2rem 0 0;
      h1 {
        font-size: 4rem;
        font-weight: 700;
        color: $color-very-dark-mag;
        line-height: 1.2;
        margin-bottom: 1rem;
      }
      h4 {
        font-size: 15px;
        font-weight: 500;
        color: $color-dark-grayish-mag;
        line-height: 1.5;
      }
    }
    .ratings {
      display: flex;
      flex-direction: column;
      width: 50rem;
      margin-left: auto;
    }
    .ratings > *:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  } // header closer

  .container__buyer {
    display: flex;
    justify-content: space-between;
    height: 25rem;
    gap: 2.5rem;
  }
}
