*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  height: 100%;
  font-size: 62.5%;
}
body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  font-family: 'Spartan', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Spartan', sans-serif;
}
::selection {
  background-color: blue;
  color: white;
}
@media (max-width: 1200px) {
  body {
    width: 375px;
    margin: auto auto;
    overflow-y: scroll;
  }
}
