@import './variables.scss';
.card__container {
  width: calc(90% / 3);
  background-color: $color-very-dark-mag;
  display: flex;
  flex-direction: column;
  padding: 4rem 3rem;
  border-radius: 0.5rem;
  text-align: start;

  .card__header {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;

    &__img {
      width: 35px;
      object-fit: cover;
      border-radius: 10rem;
      margin-right: 2rem;
    }
    &__title {
      display: flex;
      flex-direction: column;

      h4 {
        color: $color-light-grayish-mag;
        font-size: 12px;
        font-weight: 700;
        margin-bottom: 3px;
      }
      p {
        color: $color-soft-pink;
        font-size: 12px;
        font-weight: 500;
        opacity: 0.8;
      }
    }
  }

  .card__body {
    p {
      position: relative;
      font-size: 12px;
      font-weight: 500;
      line-height: 1.5;
      text-shadow: 0px 0px 1px rgba(#fff, 0.3);
      color: $color-light-grayish-mag;
    }
  }
}
@media (max-width: 1200px) {
  .card__container {
    align-self: center !important;
    width: 100%;
  }
}
